.box {
  min-height: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.container-fluid {
  min-height: 100vh;
  overflow: auto;
  background-color: white;
  padding: 1rem;
}
ng-template {
  height: 100%;
}
