.nav-container {
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  height: 100%;
}
.navigation {
  display: flex;
  width: 300px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}
.navigation ul {
  list-style: none;
  padding: 0;
  padding: 0px 1rem 0px 1rem;
}

.navigation li {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation li a {
  display: block;
  color: black;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 1rem 10px 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.navigation li a:hover {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
}

.navigation li.active a {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
}
