<div class="modal-header bg-danger">
  <h4 class="modal-title text-white">Product Disposal</h4>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="activeModal.dismiss('NO')"
  ></button>
</div>

<div class="modal-body text-center">
  <h6>
    Are you sure you want to dispose {{ product.stocks }} pcs of
    {{ product.name }} ?
  </h6>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="activeModal.dismiss('NO')">
    Cancel
  </button>

  <button class="btn btn-danger" (click)="confirm()">Confirm</button>
</div>
