<div class="modal-header bg-success">
  <h5 class="modal-title text-white">Status : {{ status }}</h5>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="subject" class="form-label">Subject</label>
      <input
        type="text"
        formControlName="subject"
        class="form-control"
        id="subject"
        placeholder="Enter subject"
      />
      <div
        *ngIf="form.get('subject')?.invalid && form.get('subject')?.touched"
        class="text-danger"
      >
        Subject is required
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        formControlName="description"
        class="form-control"
        id="description"
        placeholder="Enter description"
      ></textarea>
      <div
        *ngIf="
          form.get('description')?.invalid && form.get('description')?.touched
        "
        class="text-danger"
      >
        Description is required
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="activeModal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-success">Confirm</button>
    </div>
  </form>
</div>
