<div class="modal-header bg-danger">
  <h4 class="modal-title text-white">Forgot Password</h4>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <form [formGroup]="emailForm" (ngSubmit)="forgotPassword()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <label for="email" class="form-label">Email:</label>
        <div
          *ngIf="
            emailForm.get('email')?.hasError('required') &&
            emailForm.get('email')?.touched
          "
          class="text-danger"
        >
          Email is required.
        </div>
        <div
          *ngIf="
            emailForm.get('email')?.hasError('email') &&
            emailForm.get('email')?.touched
          "
          class="text-danger"
        >
          Please enter a valid email address.
        </div>
      </div>

      <button type="submit" class="btn btn-danger w-100">
        Forgot Password
      </button>
    </form>
  </div>
</div>
