<div class="modal-header bg-danger">
  <h4 class="modal-title text-white">Delete Product</h4>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete {{ product.name }}?</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Cancel
  </button>
  <button class="btn btn-danger" (click)="confirm()">Confirm</button>
</div>
