.box {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  flex-grow: 1;
  min-height: 750px;
}

.nav-pills .nav-link.active {
  background-color: darkgreen;
  color: white;
}

.nav-pills .nav-link {
  color: darkgreen;
  font-weight: bold;
}
.tab-content {
  border-radius: 10px;
}
